.descriptionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 100%;
  max-width: 1200px;
  min-height: 80vh;
  margin: auto;
}

.descriptionWrapper h2 {
  color: var(--light-black)
}

@media (max-width: 960px) {
  .descriptionWrapper {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .descriptionWrapper {
    padding: 3rem;
    margin-top: 3rem;
    min-height: 0vh;
  }

  .descriptionWrapper h1 {
    text-align: center;
  }

  .descriptionWrapper h2 {
    text-align: center;
  }
}
