.experienceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 100%;
  max-width: 1200px;
  gap: 3em;
  margin: auto;
}

.profileImage {
  outline: 2px solid var(--white);
  border-radius: 5px;
}

.text {
  color: var(--white);
  margin: auto;
  font-size: 1em;
  line-height: 2;
  width: 100%;
}

.techIcons {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
}

@media screen and (max-width: 1200px) {
  .experienceWrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .experienceWrapper {
    padding: 3rem;
  }
}

@media screen and (max-width: 460px) {
  .profileImage {
    width: 240px;
    height: 240px;
  }
}
