.container {
  display: flex;
  align-items: center;
  gap: 1em;
  padding:2em;
}

.menuWrapper hr {
  display: none;
}

.rightItem {
  margin-left: auto;
}

.menuIcon {
  padding: 2em;
  display: none;
}

.closeButton {
  display: none;
}

.secondaryLink {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
